In [1]:
#Import modules 
import pandas as pd
import datetime as dt

In [2]:
#Path to CSV files
zillow_path = "data/zillow_data.csv"
unem_path = "data/unem_rate.csv"

#Read the CSV files to create df
zillow_data = pd.read_csv(zillow_path)
unem_data = pd.read_csv(unem_path)

In [3]:
#Drop columns that we dont need in our database (or that can mess up an axis summation)
d_zillow = zillow_data.drop(columns = ["RegionType","RegionID"])

#Create a list of all columns with housing prices
dates = ['1/31/2017','2/28/2017','3/31/2017','4/30/2017','5/31/2017','6/30/2017','7/31/2017',
         '8/31/2017','9/30/2017','10/31/2017','11/30/2017','12/31/2017','1/31/2018','2/28/2018',
         '3/31/2018','4/30/2018','5/31/2018','6/30/2018','7/31/2018','8/31/2018','9/30/2018',
         '10/31/2018','11/30/2018','12/31/2018','1/31/2019','2/28/2019','3/31/2019','4/30/2019',
         '5/31/2019','6/30/2019','7/31/2019','8/31/2019','9/30/2019','10/31/2019','11/30/2019',
         '12/31/2019','1/31/2020','2/29/2020','3/31/2020','4/30/2020','5/31/2020','6/30/2020',
         '7/31/2020','8/31/2020','9/30/2020','10/31/2020','11/30/2020','12/31/2020','1/31/2021',
         '2/28/2021','3/31/2021','4/30/2021','5/31/2021','6/30/2021','7/31/2021','8/31/2021',
         '9/30/2021','10/31/2021','11/30/2021','12/31/2021'
]

#Create a new column titled 'total' to house the newly added totals and sum the values across using 'axis=1'
d_zillow["Totals"] = d_zillow[dates].sum(axis=1)

#Reset index to create similar column for merge
id_zillow = d_zillow.reset_index()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
0,102001,0,United States,Country,ALL,212615.0,213735.0,214896.0,216137.0,217323.0,...,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0
1,394913,1,"New York, NY",Msa,NY,430417.0,432050.0,434134.0,435828.0,438404.0,...,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,599538.0,602599.0,605959.0,607529.0,610712.0,...,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0
3,394463,3,"Chicago, IL",Msa,IL,219234.0,220916.0,222697.0,223977.0,224934.0,...,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,216427.0,218313.0,219762.0,221407.0,222894.0,...,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,394767,929,"Lamesa, TX",Msa,TX,61977.0,62657.0,63197.0,63626.0,64004.0,...,83144,83440,83934.0,84374,85338.0,86452.0,87499.0,88422.0,88981,90535.0
904,753874,930,"Craig, CO",Msa,CO,208201.0,209612.0,210569.0,210815.0,210653.0,...,219672,223477,226808.0,230257,233337.0,237027.0,240324.0,243306.0,244921,248330.0
905,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,143849,145742,147919.0,149956,152410.0,157488.0,162244.0,166957.0,167995,170763.0
906,395188,932,"Vernon, TX",Msa,TX,64299.0,64748.0,65064.0,65444.0,65751.0,...,73405,73778,74175.0,74851,75570.0,76186.0,76671.0,77011.0,77289,NaN
907,394743,933,"Ketchikan, AK",Msa,AK,286766.0,287257.0,287805.0,288551.0,289145.0,...,324385,326506,328671.0,330216,331780.0,333504.0,335732.0,337678.0,339236,NaN

To make sure we have the correct averages we will be dynamically averaging every column based on how many values were present in the row

In [4]:
#Divide the totals by the amount of rows that contain a value
avg_sum = d_zillow["Totals"].divide((d_zillow.count(axis=1)-4))

#Create a new df for the above values
df = pd.DataFrame(avg_sum, columns = ['Average'])

#Reset index to create similar column for merge
idf = df.reset_index()

#Merge the new dataframe back into our original dataframe
combo_df = pd.merge(id_zillow, idf)
combo_df

,index,SizeRank,RegionName,StateName,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,...,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,Totals,Average
0,0,0,United States,ALL,212615.0,213735.0,214896.0,216137.0,217323.0,218461.0,...,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0,14970538.0,249508.966667
1,1,1,"New York, NY",NY,430417.0,432050.0,434134.0,435828.0,438404.0,440627.0,...,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0,29021798.0,483696.633333
2,2,2,"Los Angeles-Long Beach-Anaheim, CA",CA,599538.0,602599.0,605959.0,607529.0,610712.0,614483.0,...,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0,41403420.0,690057.000000
3,3,3,"Chicago, IL",IL,219234.0,220916.0,222697.0,223977.0,224934.0,225078.0,...,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0,14599266.0,243321.100000
4,4,4,"Dallas-Fort Worth, TX",TX,216427.0,218313.0,219762.0,221407.0,222894.0,224475.0,...,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0,15567695.0,259461.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,903,929,"Lamesa, TX",TX,61977.0,62657.0,63197.0,63626.0,64004.0,64376.0,...,83934.0,84374,85338.0,86452.0,87499.0,88422.0,88981,90535.0,4412230.0,73537.166667
904,904,930,"Craig, CO",CO,208201.0,209612.0,210569.0,210815.0,210653.0,210110.0,...,226808.0,230257,233337.0,237027.0,240324.0,243306.0,244921,248330.0,12434908.0,210761.152542
905,905,931,"Pecos, TX",TX,NaN,NaN,NaN,NaN,NaN,NaN,...,147919.0,149956,152410.0,157488.0,162244.0,166957.0,167995,170763.0,3571269.0,142850.760000
906,906,932,"Vernon, TX",TX,64299.0,64748.0,65064.0,65444.0,65751.0,66073.0,...,74175.0,74851,75570.0,76186.0,76671.0,77011.0,77289,NaN,4059719.0,69995.155172
907,907,933,"Ketchikan, AK",AK,286766.0,287257.0,287805.0,288551.0,289145.0,289848.0,...,328671.0,330216,331780.0,333504.0,335732.0,337678.0,339236,NaN,18020530.0,305432.711864

In [15]:
#Remove unwanted columns from the merge
clean_combo = combo_df.drop(columns = ["index"])

#This brings back the region id column that I originally removed to be able to work with the data easier
clean_combo['RegionID']= zillow_data['RegionID'].astype(int)

#Reordering the dataframe to be able to unstack later easily
df1 = clean_combo[['StateName','RegionID','SizeRank','RegionName','1/31/2017','2/28/2017','3/31/2017','4/30/2017','5/31/2017','6/30/2017','7/31/2017',
         '8/31/2017','9/30/2017','10/31/2017','11/30/2017','12/31/2017','1/31/2018','2/28/2018',
         '3/31/2018','4/30/2018','5/31/2018','6/30/2018','7/31/2018','8/31/2018','9/30/2018',
         '10/31/2018','11/30/2018','12/31/2018','1/31/2019','2/28/2019','3/31/2019','4/30/2019',
         '5/31/2019','6/30/2019','7/31/2019','8/31/2019','9/30/2019','10/31/2019','11/30/2019',
         '12/31/2019','1/31/2020','2/29/2020','3/31/2020','4/30/2020','5/31/2020','6/30/2020',
         '7/31/2020','8/31/2020','9/30/2020','10/31/2020','11/30/2020','12/31/2020','1/31/2021',
         '2/28/2021','3/31/2021','4/30/2021','5/31/2021','6/30/2021','7/31/2021','8/31/2021',
         '9/30/2021','10/31/2021','11/30/2021','12/31/2021','Totals','Average']]
df1.head()

,StateName,RegionID,SizeRank,RegionName,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,...,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,Totals,Average
0,ALL,102001,0,United States,212615.0,213735.0,214896.0,216137.0,217323.0,218461.0,...,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0,14970538.0,249508.966667
1,NY,394913,1,"New York, NY",430417.0,432050.0,434134.0,435828.0,438404.0,440627.0,...,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0,29021798.0,483696.633333
2,CA,753899,2,"Los Angeles-Long Beach-Anaheim, CA",599538.0,602599.0,605959.0,607529.0,610712.0,614483.0,...,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0,41403420.0,690057.000000
3,IL,394463,3,"Chicago, IL",219234.0,220916.0,222697.0,223977.0,224934.0,225078.0,...,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0,14599266.0,243321.100000
4,TX,394514,4,"Dallas-Fort Worth, TX",216427.0,218313.0,219762.0,221407.0,222894.0,224475.0,...,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0,15567695.0,259461.583333