In [1]:
#Import modules 
import pandas as pd
import datetime as dt

In [2]:
#Path to CSV files
zillow_path = "data/zillow_data.csv"
unem_path = "data/unem_rate.csv"

#Read the CSV files to create df
zillow_data = pd.read_csv(zillow_path)
unem_data = pd.read_csv(unem_path)

In [3]:
#Drop columns that we dont need in our database (or that can mess up an axis summation)
d_zillow = zillow_data.drop(columns = ["RegionType","RegionID"])

#Create a list of all columns with housing prices
dates = ["1/31/2021","2/28/2021","3/31/2021","4/30/2021","5/31/2021","6/30/2021",
         "7/31/2021","8/31/2021","9/30/2021","10/31/2021","11/30/2021","12/31/2021"]

#Create a new column titled 'total' to house the newly added totals and sum the values across using 'axis=1'
d_zillow["Totals"] = d_zillow[dates].sum(axis=1)

#Reset index to create similar column for merge
id_zillow = d_zillow.reset_index()
id_zillow

,index,SizeRank,RegionName,StateName,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,Unnamed: 17,Unnamed: 18,Totals
0,0,0,United States,ALL,271383.0,274736.0,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0,NaN,NaN,3546066.0
1,1,1,"New York, NY",NY,514741.0,519462.0,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0,NaN,NaN,6541405.0
2,2,2,"Los Angeles-Long Beach-Anaheim, CA",CA,741668.0,749163.0,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0,NaN,NaN,9692077.0
3,3,3,"Chicago, IL",IL,256350.0,258656.0,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0,NaN,NaN,3271589.0
4,4,4,"Dallas-Fort Worth, TX",TX,277837.0,281220.0,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0,NaN,NaN,3714443.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,903,929,"Lamesa, TX",TX,80678.0,81809.0,83144,83440,83934.0,84374,85338.0,86452.0,87499.0,88422.0,88981,90535.0,NaN,NaN,1024606.0
904,904,930,"Craig, CO",CO,NaN,214570.0,219672,223477,226808.0,230257,233337.0,237027.0,240324.0,243306.0,244921,248330.0,NaN,NaN,2562029.0
905,905,931,"Pecos, TX",TX,139164.0,141596.0,143849,145742,147919.0,149956,152410.0,157488.0,162244.0,166957.0,167995,170763.0,NaN,NaN,1846083.0
906,906,932,"Vernon, TX",TX,NaN,72330.0,73405,73778,74175.0,74851,75570.0,76186.0,76671.0,77011.0,77289,NaN,NaN,NaN,751266.0
907,907,933,"Ketchikan, AK",AK,320746.0,322292.0,324385,326506,328671.0,330216,331780.0,333504.0,335732.0,337678.0,339236,NaN,NaN,NaN,3630746.0

To make sure we have the correct averages we will be dynamically averaging every column based on how many values were present in the row

In [14]:
#Divide the totals by the amount of rows that contain a value
avg_sum = d_zillow["Totals"].divide((d_zillow.count(axis=1)-4))

#Create a new df for the above values
df = pd.DataFrame(avg_sum, columns = ['Average'])

#Reset index to create similar column for merge
idf = df.reset_index()

#Merge the new dataframe back into our original dataframe
combo_df = pd.merge(id_zillow, idf)
combo_df

,index,SizeRank,RegionName,StateName,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,Unnamed: 17,Unnamed: 18,Totals,Average
0,0,0,United States,ALL,271383.0,274736.0,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0,NaN,NaN,3546066.0,295505.500000
1,1,1,"New York, NY",NY,514741.0,519462.0,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0,NaN,NaN,6541405.0,545117.083333
2,2,2,"Los Angeles-Long Beach-Anaheim, CA",CA,741668.0,749163.0,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0,NaN,NaN,9692077.0,807673.083333
3,3,3,"Chicago, IL",IL,256350.0,258656.0,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0,NaN,NaN,3271589.0,272632.416667
4,4,4,"Dallas-Fort Worth, TX",TX,277837.0,281220.0,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0,NaN,NaN,3714443.0,309536.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,903,929,"Lamesa, TX",TX,80678.0,81809.0,83144,83440,83934.0,84374,85338.0,86452.0,87499.0,88422.0,88981,90535.0,NaN,NaN,1024606.0,85383.833333
904,904,930,"Craig, CO",CO,NaN,214570.0,219672,223477,226808.0,230257,233337.0,237027.0,240324.0,243306.0,244921,248330.0,NaN,NaN,2562029.0,232911.727273
905,905,931,"Pecos, TX",TX,139164.0,141596.0,143849,145742,147919.0,149956,152410.0,157488.0,162244.0,166957.0,167995,170763.0,NaN,NaN,1846083.0,153840.250000
906,906,932,"Vernon, TX",TX,NaN,72330.0,73405,73778,74175.0,74851,75570.0,76186.0,76671.0,77011.0,77289,NaN,NaN,NaN,751266.0,75126.600000
907,907,933,"Ketchikan, AK",AK,320746.0,322292.0,324385,326506,328671.0,330216,331780.0,333504.0,335732.0,337678.0,339236,NaN,NaN,NaN,3630746.0,330067.818182

In [17]:
#Remove unwanted columns from the merge
clean_combo = combo_df.drop(columns = ["index","Unnamed: 17","Unnamed: 18"])

clean_combo

,SizeRank,RegionName,StateName,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,Totals,Average
0,0,United States,ALL,271383.0,274736.0,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0,3546066.0,295505.500000
1,1,"New York, NY",NY,514741.0,519462.0,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0,6541405.0,545117.083333
2,2,"Los Angeles-Long Beach-Anaheim, CA",CA,741668.0,749163.0,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0,9692077.0,807673.083333
3,3,"Chicago, IL",IL,256350.0,258656.0,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0,3271589.0,272632.416667
4,4,"Dallas-Fort Worth, TX",TX,277837.0,281220.0,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0,3714443.0,309536.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,929,"Lamesa, TX",TX,80678.0,81809.0,83144,83440,83934.0,84374,85338.0,86452.0,87499.0,88422.0,88981,90535.0,1024606.0,85383.833333
904,930,"Craig, CO",CO,NaN,214570.0,219672,223477,226808.0,230257,233337.0,237027.0,240324.0,243306.0,244921,248330.0,2562029.0,232911.727273
905,931,"Pecos, TX",TX,139164.0,141596.0,143849,145742,147919.0,149956,152410.0,157488.0,162244.0,166957.0,167995,170763.0,1846083.0,153840.250000
906,932,"Vernon, TX",TX,NaN,72330.0,73405,73778,74175.0,74851,75570.0,76186.0,76671.0,77011.0,77289,NaN,751266.0,75126.600000
907,933,"Ketchikan, AK",AK,320746.0,322292.0,324385,326506,328671.0,330216,331780.0,333504.0,335732.0,337678.0,339236,NaN,3630746.0,330067.818182